*, *:after, *:before {
    box-sizing: border-box;
}
body {
    background-color: #6d90ef;
}
.app {
    display: block;
    padding: 16px;
    max-width: 600px;
    margin: 16px auto;
    border-radius: 4px;
    background-color: #fff;
}
.app__title {
    font-weight: 300;
    margin-top: 0;
    color: #131815;
    text-align: center;
}
.input-search {
    display: block;
    width: 100%;
    padding: 8px 4px;
    font-size: 14px;
    margin-bottom: 20px;
    outline: none;
}
.input-search::-webkit-input-placeholder {
    color: #758a9d;
    font-weight: 300;
}
.student-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.student-item {
    margin-bottom: 8px;
    border: 1px solid #c1deeb;
    color: #131815;
    font-weight: 300;
    padding: 8px 8px;
}
.align-center{
    text-align: center;
}
.mb-10{
    margin-bottom: 10px;
}

